.active {
  color: #ee6e73;
  font-weight: 300;
}

/* navbar area */

.nb {
  background: #6cf;
  height: 70px;
  border-bottom: 3px solid black;
}

.btlink {
  margin-top: 7px;
}

/* header area */

.header-area {
  height: 200px;
  width: 100%;
  background: lightgray;
  padding-top: 50px;
}

.header {
  font-size: 50px;
}


/* body area */

.results_area {
  margin-top: 25px;
  background: rgb(230, 221, 221);

}

.results {
  font-size: 16px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;

}

.article-area {
  padding: 20px;
}

/* modal */

.modal-content {
  background: lightblue;
}

#bodyinput {
  width: 80%;
}


.footer {
  
  height:30px; 
  background:#6cf;
  border-top: 3px solid black;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
   color: white;
}

#delete {
  margin-top: 5px;
}

#delete:hover {
  color: purple;
}